* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ffffff;
}
/*--------- estilos del  header -------------*/
header {
  background-color: #ff0000;
  color: #fff;
}
.box-titulo {
  display: flex;
  justify-content: space-between;
  padding: 10px 70px;
}
nav {
  background-color: #c62028;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
}
nav ul {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}
li {
  color: #ffffff;
  font-size: 20px;
  list-style: none;
}
/* ----------------estilos del main ------------*/
.img-fondo {
  align-items: flex-end;
  background-image: url(./imagenes/copa3.png);
  background-size: cover;
  display: flex;
  height: 420px;
  justify-content: center;
}
.img-fondo h3 {
  background-color: #00000099;
  border-radius: 5px;
  color: #fff;
  font-size: 55px;
  font-weight: 600;
  letter-spacing: 7px;
  padding: 20px;
  margin: 10px;
}
/*---------------------------- cuerpo de las noticias------------------- */
.noticias-hoy {
  text-align: center;
  padding: 10px;
  font-size: 32px;
  background-color: #c62028;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
}
.contenedor {
  background-color: #ff0000;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.img-contenido {
  width: 300px;
  margin: auto;
  display: block;
}

.contenedor-noticia {
  border: 10px solid #0c0c0c21;
  border-radius: 2px;
  background-color: #6969696b;
  width: 600px;
  margin: 10px;
  padding: 10px;
}

.fecha-nivel {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
/*----------- footer------------------ */
footer p {
  color: #000000;
  text-align: center;
}
